<% if post.last.errors.any? %>
  <div style="color: red">
    <ul>
      <% post.last.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: post) do |form| %>
  <%= form.text_field :title, placeholder:'title' %>
  <%= form.text_area :text, placeholder:'Contents' %>
  <%= form.submit %>
<% end %>
