<div class="button_group">
  <%= link_to "New post", new_user_post_path, class: 'btn' %>
</div>
<%= render partial: "user_item", locals: { user: @user, single: true } %>
<div class="user_posts">
  <% @posts.each do |post| %>
    <a href="<%= user_post_path(post.author_id, post) %>">
      <%= render partial: "post_item", locals: { post: post } %>
    </a>
    <div class="user_comments">
      <% post.most_recent_comments.each_with_index do |comment, index| %>
        <%= render partial: "comment_item", locals: { position: (index + 1), comment: comment } %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="button_group">
  <% (1..@no_of_pages).each do |page| %>
    <%= link_to page.to_s, user_posts_path(@user, page: page), class:'btn' if @current_page != page %>
    <%= content_tag :div, page.to_s, class: ['btn', 'disabled'] if @current_page == page %>
  <% end %>
</div>
