<%= render partial: "user_item", locals: { user: @user, single: true } %>
<section>
  <% @posts.each do |post| %>
    <a href="<%= user_post_path(post.author_id, post) %>">
      <%= render partial: "post_item", locals: { post: post } %>
    </a>
    <section class="comment-list box">
      <% post.most_recent_comments.reverse.each do |comment| %>
        <%= render partial: "comment", locals: { comment: comment } %>
      <% end %>
    </section>
  <% end %>
</section>
<section class="action-butons">
  <% (1..@no_of_pages).each do |page| %>
    <%= link_to page.to_s, user_posts_path(@user, page: page), class:'btn' if @current_page != page %>
    <%= content_tag :div, page.to_s, class: ['btn', 'disabled'] if @current_page == page %>
  <% end %>
</section>
